<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PatchName</key>
	<string>modmusica_fantasy.pd</string>
	<key>SectionCount</key>
	<integer>4</integer>
	<key>OtherSamples</key>
	<array>
		<string></string>
	</array>
	<key>DrumSamples</key>
	<dict>
		<key>KickSamples</key>
		<array/>
		<key>SnareSamples</key>
		<array/>
		<key>PercussionSamples</key>
		<array/>
	</dict>
	<key>ContentVersion</key>
	<string>1.0</string>
	<key>IAPProductIdentifier</key>
	<string>com.birdSound.modmusica.$(PRODUCT_NAME:rfc1034identifier)</string>
</dict>
</plist>
