<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Default</key>
	<dict>
		<key>attributes</key>
		<dict>
			<key>position</key>
			<integer>0</integer>
		</dict>
		<key>uniforms</key>
		<dict>
			<key>normalMatrix</key>
			<dict>
				<key>type</key>
				<integer>5</integer>
				<key>initialValue</key>
				<integer>0</integer>
			</dict>
			<key>modelViewProjectionMatrix</key>
			<dict>
				<key>type</key>
				<integer>6</integer>
				<key>initialValue</key>
				<integer>0</integer>
			</dict>
			<key>time</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>initialValue</key>
				<integer>0</integer>
			</dict>
			<key>resolution</key>
			<dict>
				<key>type</key>
				<integer>3</integer>
				<key>initialValue</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
	<key>gushies</key>
	<dict>
		<key>uniforms</key>
		<dict>
			<key>clock</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>initialValue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>shaders</key>
		<dict>
			<key>frag</key>
			<string>BasicFractal</string>
			<key>vert</key>
			<string>BasicFractal</string>
		</dict>
	</dict>
	<key>fantasy</key>
	<dict>
		<key>uniforms</key>
		<dict>
			<key>clock</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>initialValue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>shaders</key>
		<dict>
			<key>frag</key>
			<string>DancingLines</string>
			<key>vert</key>
			<string>DancingLines</string>
		</dict>
	</dict>
	<key>mario</key>
	<dict>
		<key>uniforms</key>
		<dict>
			<key>clock</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>initialValue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>shaders</key>
		<dict>
			<key>frag</key>
			<string>RaveSpiral</string>
			<key>vert</key>
			<string>RaveSpiral</string>
		</dict>
	</dict>
	<key>mega</key>
	<dict>
		<key>uniforms</key>
		<dict>
			<key>speed</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>initialValue</key>
				<real>8</real>
			</dict>
			<key>clock</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
				<key>initialValue</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>shaders</key>
		<dict>
			<key>frag</key>
			<string>FractalKaleidoscope</string>
			<key>vert</key>
			<string>FractalKaleidoscope</string>
		</dict>
	</dict>
</dict>
</plist>
