<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>test</key>
	<dict>
		<key>shaders</key>
		<dict>
			<key>frag</key>
			<string>FractalKaleidoscope</string>
			<key>vert</key>
			<string>Shader</string>
		</dict>
		<key>textures</key>
		<dict>
			<key>texture0Name</key>
			<string>leaves.gif</string>
			<key>texture1Name</key>
			<string>leaves.gif</string>
		</dict>
		<key>attributes</key>
		<dict>
			<key>aPosition</key>
			<integer>0</integer>
			<key>aNormal</key>
			<integer>1</integer>
			<key>aTextureCoord0</key>
			<integer>3</integer>
			<key>aTextureCoord1</key>
			<integer>4</integer>
		</dict>
		<key>uniforms</key>
		<dict>
			<key>speed</key>
			<integer>0</integer>
			<key>iNormalMatrix</key>
			<integer>5</integer>
			<key>iModelViewProjectionMatrix</key>
			<integer>6</integer>
			<key>iGlobalTime</key>
			<integer>0</integer>
			<key>iResolution</key>
			<integer>3</integer>
			<key>iChannel0</key>
			<integer>1</integer>
			<key>iChannel1</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>fantasy</key>
	<dict>
		<key>shaders</key>
		<dict>
			<key>frag</key>
			<string>DancingLines</string>
			<key>vert</key>
			<string>Shader</string>
		</dict>
		<key>textures</key>
		<dict>
			<key>texture0Name</key>
			<string>leaves.gif</string>
			<key>texture1Name</key>
			<string>leaves.gif</string>
		</dict>
		<key>attributes</key>
		<dict>
			<key>aPosition</key>
			<integer>0</integer>
			<key>aNormal</key>
			<integer>1</integer>
			<key>aTextureCoord0</key>
			<integer>3</integer>
			<key>aTextureCoord1</key>
			<integer>4</integer>
		</dict>
		<key>uniforms</key>
		<dict>
			<key>iNormalMatrix</key>
			<integer>5</integer>
			<key>iModelViewProjectionMatrix</key>
			<integer>6</integer>
			<key>iGlobalTime</key>
			<integer>0</integer>
			<key>iResolution</key>
			<integer>3</integer>
			<key>iChannel0</key>
			<integer>1</integer>
			<key>iChannel1</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>mega</key>
	<dict>
		<key>shaders</key>
		<dict>
			<key>frag</key>
			<string>Tunnel</string>
			<key>vert</key>
			<string>Shader</string>
		</dict>
		<key>textures</key>
		<dict>
			<key>texture0Name</key>
			<string>leaves.gif</string>
			<key>texture1Name</key>
			<string>leaves.gif</string>
		</dict>
		<key>attributes</key>
		<dict>
			<key>aPosition</key>
			<integer>0</integer>
			<key>aNormal</key>
			<integer>1</integer>
			<key>aTextureCoord0</key>
			<integer>3</integer>
			<key>aTextureCoord1</key>
			<integer>4</integer>
		</dict>
		<key>uniforms</key>
		<dict>
			<key>iNormalMatrix</key>
			<integer>5</integer>
			<key>iModelViewProjectionMatrix</key>
			<integer>6</integer>
			<key>iGlobalTime</key>
			<integer>0</integer>
			<key>iResolution</key>
			<integer>3</integer>
			<key>iChannel0</key>
			<integer>1</integer>
			<key>iChannel1</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>gushies</key>
	<dict>
		<key>shaders</key>
		<dict>
			<key>frag</key>
			<string>KaleidoscopeStarburst</string>
			<key>vert</key>
			<string>Shader</string>
		</dict>
		<key>textures</key>
		<dict>
			<key>texture0Name</key>
			<string>leaves.gif</string>
			<key>texture1Name</key>
			<string>leaves.gif</string>
		</dict>
		<key>attributes</key>
		<dict>
			<key>aPosition</key>
			<integer>0</integer>
			<key>aNormal</key>
			<integer>1</integer>
			<key>aTextureCoord0</key>
			<integer>3</integer>
			<key>aTextureCoord1</key>
			<integer>4</integer>
		</dict>
		<key>uniforms</key>
		<dict>
			<key>iNormalMatrix</key>
			<integer>5</integer>
			<key>iModelViewProjectionMatrix</key>
			<integer>6</integer>
			<key>iGlobalTime</key>
			<integer>0</integer>
			<key>iResolution</key>
			<integer>3</integer>
			<key>iChannel0</key>
			<integer>1</integer>
			<key>iChannel1</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>mario</key>
	<dict>
		<key>shaders</key>
		<dict>
			<key>frag</key>
			<string>FractalKaleidoscope</string>
			<key>vert</key>
			<string>Shader</string>
		</dict>
		<key>textures</key>
		<dict>
			<key>texture0Name</key>
			<string>leaves.gif</string>
			<key>texture1Name</key>
			<string>leaves.gif</string>
		</dict>
		<key>attributes</key>
		<dict>
			<key>aPosition</key>
			<integer>0</integer>
			<key>aNormal</key>
			<integer>1</integer>
			<key>aTextureCoord0</key>
			<integer>3</integer>
			<key>aTextureCoord1</key>
			<integer>4</integer>
		</dict>
		<key>uniforms</key>
		<dict>
			<key>iNormalMatrix</key>
			<integer>5</integer>
			<key>iModelViewProjectionMatrix</key>
			<integer>6</integer>
			<key>iGlobalTime</key>
			<integer>0</integer>
			<key>iResolution</key>
			<integer>3</integer>
			<key>iChannel0</key>
			<integer>1</integer>
			<key>iChannel1</key>
			<integer>1</integer>
		</dict>
	</dict>
</dict>
</plist>
